* {
    padding: 0;
    margin: 0;
}

body {
    width: 1366px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section.container-fluid {
    padding: 0;
}

/*NAV---------------------------------------------------------------*/


section.head {
    height: 750px;
    background-image: url(../images/headFone.png);
    background-repeat: no-repeat;
}

nav.nav {
    height: 95px;
}

nav.nav div.left img {
    margin: 0;
    padding: 30px 0 0 100px;
}

nav.nav div.right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 30px;
    padding-right: 100px;
}

nav.nav div.right ul li {
    display: inline-block;
    padding-left: 40px;
}

nav.nav div.right ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #4d4d4d;
    text-transform: uppercase;
}

nav.nav div.right ul li a:hover{
    border-bottom: 2px solid #878787;
    padding-bottom: 10px;
    text-transform: capitalize;
    transition-duration: .8s;
    transition-delay: .5s;
    
}

.contentHead {
    height: 655px;
}

.contentHead .gayCircle img{
/*    padding-left: 100px;*/
}

.contentHead .text .margin {
    margin-left: 100px;
}

.contentHead .text h1 {
    font-size: 90px;
    color: #4d4d4d;
    padding-top: 165px;
}

.contentHead .text p.textP {
    font-size: 22px;
    color: #909090;
    font-weight: 550;
    padding-top: 15px;
}

.contentHead .text p.buttom {
    font-size: 16px;
    color: #4d4d4d;
    border: 1px solid white;
    display: inline-block;
    background-color: white;
    margin-top: 30px;
    margin-right: 25px;
    height: 50px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}

.contentHead .text p.buttom:hover {
    border: 1px solid #4d4d4d;
    background-color: inherit;
}

/*mainContent---------------------------------------------------------------*/


.mainContent {
    height: 680px;
}

.mainContent .text {
    padding-left: 100px;
}

.mainContent .image img{
    opacity: .9;
}


.mainContent .text h1 {
    font-size: 46px;
    color: #717171;
    font-weight: bold;
    padding-top: 200px;
    max-width: 330px;
    letter-spacing: 3px;
    word-spacing: 15px;
}

.mainContent .text h1 span {
    border-top: 4px solid #717171;
    padding-top: 20px;
}

.mainContent .text p {
    font-size: 16px;
    padding-top: 15px;
    color: #717171;
    max-width: 470px;
    font-weight: 500;
}

.mainContent .text button {
    font-size: 16px;
    margin-top: 40px;
    color: #717171;
    background-color: #fff;
    border: 1px solid #4d4d4d;
    width: 245px;
    height: 50px;
    font-weight: 600;
}

.mainContent .image {
    padding: 110px 100px 0 0;
}



/*services---------------------------------------------------------------*/

.services {
    height: 700px;
    background-color: #f6f6f6;
    text-align: center;
}

.services .col-12 span ,  .mySkills .col-12 span , section.portfolio span{
    width: 60px;
    display: inline-block;
    border: 2px solid #767676;
    margin-top: 120px;
    margin-bottom: 15px;
}


.services .col-12 h2 , .mySkills .col-12 h2 , section.portfolio .portf h2 {
    font-size: 46px;
    color: #717171;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 4px;
}

.services .col-4 img  {
	display: block;
    margin: 0 auto;
}

.services .col-4 p.text {
    font-weight: 600;
    font-size: 24px;
    padding-top: 15px;
    color: #4d4d4d;
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

/*mySkills---------------------------------------------------------------*/

.mySkills {
    height: 765px;
    background-color: #fff;
}

.mySkills .content .h {
	text-align: center;
}

.mySkills .fone {
    position: relative;
    width: 1366px;
    height: 509px;
    margin: 0 auto;
}

.mySkills .fone img{
	position: absolute;
    left: 230px;
    
}

.mySkills .fone ul {
    position: absolute;
    left: 180px;
    list-style-type: none;
}

.mySkills .fone ul li { 
    font-size: 15px;
    color: #4d4d4d;
    padding-bottom: 50px;
    
}

.mySkills .fone img.wave {
    position: absolute;
    top: 28px;    
}

.mySkills .fone img.m1 {
    top: 111px;
    left: 322px;
}

.mySkills .fone img.m2 {
    top: 171px;
    left: 542px;
}


.mySkills .fone img.m3 {
    top: 22px;
    left: 770px;
}


.mySkills .fone img.m4 {
    top: 112px;
    left: 978px;
}

.mySkills .fone img.logo {
    bottom: 100px;
    left: 315px;
}


/*portfolio---------------------------------------------------------------*/

section.portfolio {
    height: 1100px;
    background-color: #f6f6f6;
}

section.portfolio .portf {
    position: static;
    text-align: center;
}

section.portfolio .size {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    height: 335px;
}

section.portfolio img {
    width: 327px;
    height: 320px;
}

section.portfolio .but{
    text-align: center;
}

section.portfolio button {
    font-size: 16px;
    margin-top: 20px;
    color: #717171;
    background-color: #fff;
    border: 1px solid #fff;
    width: 245px;
    height: 50px;
    font-weight: 600;
}


/*testimonials---------------------------------------------------------------*/

.testimonials .testim {
    text-align: center;
    font-family: 'Asap' , sans-serif;
}

.testimonials .testim span {
    width: 60px;
    display: inline-block;
    border: 2px solid #717171;
    margin-top: 120px;
    margin-bottom: 15px;
}

.testimonials .testim h2 {
    font-size: 46px;
    color: #717171;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 4px;
}

.testimonials .border  {
    position: relative;
    margin: auto;
    width: 955px;
    height: 350px;
    border: 1px solid #000;
}

.testimonials .border .girl {
    padding: 80px 30px 100px 180px;
}

.testimonials .border h2 , .testimonials .border h3 , .testimonials .border p {
    position: absolute;
    display: inline;
}

.testimonials .border h2 {
    padding-top: 80px;
    tab-size: 30px;
    color: #373737;
    text-transform: uppercase;
}

.testimonials .border h3 {
    padding-top: 110px;
    font-size: 12px;
    color: #434343;
}

.testimonials .border p {
    tab-size: 16px;
    color: #7a7a7a;
    width: 570px;
    padding-top: 140px;
    line-height: 26px;
    text-transform: uppercase;
}

.testimonials .border .point1 {
    position: absolute;
    bottom: 40px;
    left: 457px;
}

.testimonials .border .point2 {
    position: absolute;
    bottom: 40px;
    left: 475px;
}

.testimonials .border .point3 {
    position: absolute;
    bottom: 40px;
    left: 493px;
}


.smile {
    margin-top: 125px;
    height: 300px;
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 160px;
}



/*footer---------------------------------------------------------------*/


section.footer {
    height: 780px;
    background: url(../images/bgfoot.png);
    background-repeat: no-repeat;
}

.footer .hbut {
    text-align: center;
    height: 285px;
}

.footer .hbut span {
    width: 60px;
    display: inline-block;
    border: 2px solid #f0f0f0;
    margin-top: 120px;
    margin-bottom: 15px;
}

.footer .hbut h2 {
    font-size: 46px;
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 4px;
}

.footer .form {
    height: 420px;
    position: relative;
    font-family: 'Asap', sans-serif;

}

.footer .form input[type="text"]{
    height: 58px;
    width: 372px;
    position: absolute;
    left: 300px;
    font-size: 16px;
    padding-left: 10px;
    
    
}

.footer .form input[type="email"]{
    height: 58px;
    width: 370px;
    position: absolute;
    left: 700px;
    font-size: 16px;
    padding-left: 10px;
    
}

.footer .form textarea {
    position: absolute;
    height: 210px;
    width: 770px;
    left: 300px;
    top: 85px;
    resize: none;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 25px;
    

}

.footer .form button {
    height: 50px;
    width: 125px;
    position: absolute;
    left: 637px;
    top: 322px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #4d4d4d;
    font-weight: bold;
}
.footer .form button img{
   padding-left: 7px; 
}

.footer .bot {
    position: absolute;
    right: 30px;
    top:  300px;
    padding: 18px;
    background-color: #fff;
}

.footer .footer {
    height: 100px;
    width: 1170px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.footer .footer .icon {
    padding-top: 25px;   
}

.footer .footer .text {
    font-size: 16px;
    color: #ffffff;
    padding-left: 65px;
    padding-top: 30px;
}



